<h3>Top Heroes</h3>
<div class="grid grid-pad">
    <!--se crean tantos enlaces como hay en el arreglo.-->
    <a *ngFor="let hero of heroes" class="col-1-4"
        routerLink="/detail/{{hero.id}}"> 
        <div class="module hero">
            <h4>{{hero.name}}</h4>
        </div>
    </a>
</div>
<!--routerLink: cuando se aplica a un elemento, lo convierte en un enlace que inicia la navegacion a una ruta. 
    la navegacion componentes enrutados en una o mas ubicaciones en la pagina.

es el selector para la directiva que convierte los clics del usuario en navegaciones para el enrutador-->